{% extends "base.html"%}

{% block title %}
<h2>會員新增</h2>
{% endblock %}

{% block content %}
<!--
    檔案上傳表單的必要設定
    1. form 標籤 enctype="multipart/form-data"
    2. <input type="file" name="userimage" />
    -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="請輸入姓名">
        </div>
        <div>
            <input type="email" name="useremail" placeholder="請輸入電子郵件">
        </div>
        <div>
            <input type="password" name="userpassword" placeholder="請輸入密碼">
        </div>
        <div>
            <input type="date" name="userbirth" placeholder="請輸入生日">
        </div>
        <div>
            <input type="file" name="userphoto" id="file"/>
            <img id="img" src="{{MEDIA_URL}}{{ upload_file }}" alt="">
        </div>
        <button type="submit">註冊</button>
    </form>
{% endblock %}

{% block scripts %}
<script>
    const theFile = document.querySelector("#file")
    const theImg = document.querySelector("#img")

    theFile.addEventListener("change", ()=>{
        // 要在瀏覽器 顯示圖  要使用 "FileReader API"
        const reader = new FileReader();
        reader.readAsDataURL(theFile.files[0]); //讀圖
        // 完成後會觸發 load 事件
        reader.addEventListener("load", ()=>{
            theImg.src = reader.result
        })
    })

</script>
{% endblock %}