{% extends "base.html"%}

{% block title %}
<h2>會員新增</h2>
{% endblock %}

{% block content %}
<!--
    檔案上傳表單的必要設定
    1. form 標籤 enctype="multipart/form-data"
    2. <input type="file" name="userimage" />
    -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">姓名</label>
            <input type="text" class="form-control" id="username" placeholder="請輸入姓名">
          </div>
        <div class="mb-3">
            <label for="useremail" class="form-label">電子郵箱</label>
            <input type="email" class="form-control" id="useremail" placeholder="請輸入電子郵箱">
          </div>
        <div class="mb-3">
            <label for="userpassword" class="form-label">密碼</label>
            <input type="password" class="form-control" id="userpassword" placeholder="請輸入密碼">
          </div>
          <div class="mb-3">
            <label for="userpassword1" class="form-label">密碼確認</label>
            <input type="password" class="form-control" id="userpassword" placeholder="再次輸入密碼">
          </div>
          <div class="mb-3">
            <label for="userbirth" class="form-label">生日</label>
            <input type="date" class="form-control" id="userbirth" placeholder="請輸入生日">
          </div>
          <div class="mb-3">
            <label for="userphoto" class="form-label">大頭照上傳</label>
            <input type="file" class="form-control" name="userphoto" id="userphoto" >
            <img id="img" src="{{MEDIA_URL}}{{ upload_file }}" alt="">
          </div>
        <button type="submit" class="btn btn-primary">註冊</button>
    </form>
{% endblock %}


{% block scripts %}
<script>
    const theFile = document.querySelector("#file")
    const theImg = document.querySelector("#img")

    theFile.addEventListener("change", ()=>{
        // 要在瀏覽器 顯示圖  要使用 "FileReader API"
        const reader = new FileReader();
        reader.readAsDataURL(theFile.files[0]); //讀圖
        // 完成後會觸發 load 事件
        reader.addEventListener("load", ()=>{
            theImg.src = reader.result
        })
    })

</script>
{% endblock %}